fastapi[all]
uvicorn
python-dotenv
python-jose[cryptography]
passlib[bcrypt]
bcrypt==3.2.2
python-multipart
pydantic
pydantic-settings
requests
google-auth
httpx
psycopg2-binary
sqlalchemy[asyncio]
asyncpg
pywebpush
alembic
aiofiles
pyotp
qrcode
Pillow
celery
redis
boto3
orjson
brotli
fastapi-cache2[redis]tenacity
